# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/

# IntelliJ
.idea/
*.iml
*.iws

# VSCode
.vscode/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Env
.env

# Java
*.class

# Others
/node_modules/ 